<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>

<div class="centerbox">

<h1>import mnemonic</h1>

    <form method=post>
      <input type=text name=mnemonic placeholder="24-word phrase">
        <input type=password name=passwd placeholder="password">
      <input type=submit value=import>
    </form>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

</div>

</body>
</html>